html {
    margin: 0;
}

.header-container {
    background-color: #202022;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;    
}

.logo {
    height: 30px;
    width: 30px;
}

.site-title {
    color: #cacaca;
    font-size: 20px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}       

.main-nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #cacaca;
}

.main-nav ul li a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #00BBC9;
}

.theme-toggle {
    margin: 1rem;
    padding: 2 auto;
}

body {
    margin : 0;
    font-family: 'Inter', sans-serif;
    color: #cacaca;
    padding-top: 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                url(images/home-hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.highlighted-text {
    color: #00BBC9;
}
.hero-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.hero-section h1 {
    font-size: 100px;
    margin: 0 auto;
}

.hero-section p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 1000px;
}

.hero-section ul li {
    list-style: none;
    flex-direction: row;
}

.hero-section ul li a {
    color: #cacaca;
    text-decoration: none;
}

.hero-section ul li a:hover {
    color: #00BBC9;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.social-media li a[href*="x.com"] {
    background-color: #000;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: #202022;
}

.logo-footer {
    width: 20px;
}